FIREBIRD_HOST=127.0.0.1
FIREBIRD_PORT=3050
FIREBIRD_ISQL=C:\Program Files\Firebird\Firebird_3_0\isql.exe
FIREBIRD_DATABASE=C:\sgv8\Banco\BANCO.GDB
FIREBIRD_USER=SYSDBA
FIREBIRD_PASSWORD=troque_aqui
DASHBOARD_API_PORT=3030
